*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: sans-serif;
    margin-top: 10%;
    align-items: center;
}
body{
  background: rgba(236,236,236);
}
.login-form {
  display: flex;
  flex-direction: column;
}

.login-form > h1{
  font-size: 35px;
  margin-bottom: 15px;
  padding-bottom: 10px;
  letter-spacing: -1px;
}

.login-form > input{
  min-width: 380px;
  padding: 20px 0;
  padding-left: 15px;
  margin-bottom: 10px;
  outline: none;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 15px;
}

.submit__btn{
  padding: 17px 30px;
  margin-top: 30px;
  background: black;
  border: none;
  color: white;
  font-size: 14px;
  border-radius: 3px;
}
